urxvt*cursorColor:		green
urxvt*cursorColor2:		blue
urxvt*scrollBar:		false
URxvt*depth: 			32
URxvt*background: 		[50]#000000
urxvt*font:			xft:Hack:size=15
urxvt*foreground:		grey
urxvt*fadeColor:		red
urxvt*fading:			15
urxvt*cursorBlink:		true

URxvt.perl-ext-common:      default,clipboard,matcher,url-select,keyboard-select
URxvt.url-select.launcher:  google-chrome-stable
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search

URxvt.url-launcher: google-chrome-stable
URxvt.matcher.button: 1
